<!DOCTYPE html>
<HTML>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=960" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/common/iu.css">
    <link rel="stylesheet" type="text/css" href="/static/css/pages/class.css">
    <link rel="stylesheet" type="text/css" href="/static/css/compositions/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/compositions/footer.css">
    <link href='https://fonts.googleapis.com/earlyaccess/hanna.css' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/earlyaccess/jejugothic.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//cdn.iueditor.org/js/iueditor-2.1.js"></script>
    <script type="text/javascript">window.IUEditor || document.write('<script src="//s3.iueditor.org/js/iueditor-2.1.js">\x3C/script>')</script>
    <!--[if lt IE 9]>
      <script>
        document.createElement("header" );
        document.createElement("footer" );
        document.createElement("section");
        document.createElement("nav"    );
        document.createElement("article");
      </script>
      <noscript>
        <strong>Warning !</strong>
        Because your browser does not support HTML5, some elements are simulated using JScript.
        Unfortunately your browser has disabled scripting. Please enable it in order to display this page.
      </noscript>
    <![endif]-->
  </head>
  <body>
    <div class="iu-page class">
      <header class="iu-header header">
        {% include './compositions/header.html' %}
      </header>
      <section class="iu-page-content page-content">
        <section class="iu-section section">
          <div class="iu-center-box center-box-14">
            <div class="iu-box box">
              <img class="iu-image image" src="/static/project/copy.png">
              <div class="iu-text text-27">
                <p>코드플래닛 아카데미</p>
                <p>&nbsp;</p>
                <p>수업을 개설하고 수업에 등록한 학생들의 &lsquo;코드플래닛&rsquo; 플레이 정보를 관리할 수 있습니다.</p>
                <p>선생님으로 등록하시면 무료로 이용가능합니다.</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
              </div>
              <div class="iu-text text-28">
                <p>수업을 개설하고 수업에 등록한 학생들의 &lsquo;코드플래닛&rsquo; 플레이 정보를 관리할 수 있습니다.</p>
                <p>선생님으로 등록하시면 무료로 이용가능합니다.</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
              </div>
              <div class="iu-cell cell-47">
                <a class="iux-inner-link" href="/login">
                  <p>시작하기</p>
                </a>
              </div>
            </div>
            <div class="iu-box box-29">
              <div class="iu-text text-29">
                <p>코드플래닛 교사모드</p>
                <p>&nbsp;</p>
                <p>수업을 개설하고 수업에 등록한 학생들의 &lsquo;코드플래닛&rsquo; 플레이 정보를 관리할 수 있습니다.</p>
                <p>선생님으로 등록하시면 무료로 이용가능합니다.</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
              </div>
              <div class="iu-text text-30">
                <p>학생들의 플레이 정보를 관리하여</p>
                <p>코드플래닛을 통한 효과적인 교육을 제공합니다.</p>
                <p>&nbsp;</p>
                <p>- 간편한 수업 개설과 학생 등록</p>
                <p>- 전체 학생들 플레이 정보 확인</p>
                <p>- 개인별 세부 진행 상황 확인</p>
                <p>- 개설한 수업과 등록된 학생 관리</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
              </div>
              <img class="iu-image image-31" src="/static/project/btn_popup_close.png">
            </div>
          </div>
        </section>
      </section>
      <footer class="iu-footer footer">
        {% include './compositions/footer.html' %}
      </footer>
    </div>
  </body>
</HTML>