<!DOCTYPE html>
<HTML>
<!-- this site is created with: http://www.iueditor.org -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=960" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/common/iu.css">
    <link rel="stylesheet" type="text/css" href="/static/css/pages/teacher_detail_class_student_clicked.css">
    <link rel="stylesheet" type="text/css" href="/static/css/compositions/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/compositions/footer.css">
    <link href='https://fonts.googleapis.com/earlyaccess/hanna.css' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/earlyaccess/jejugothic.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//cdn.iueditor.org/js/iueditor-2.1.js"></script>
    <script type="text/javascript">window.IUEditor || document.write('<script src="//s3.iueditor.org/js/iueditor-2.1.js">\x3C/script>')</script>
    <script type="text/javascript" src="/static/project/students.js"></script>
    <!--[if lt IE 9]>
      <script>
        document.createElement("header" );
        document.createElement("footer" );
        document.createElement("section");
        document.createElement("nav"    );
        document.createElement("article");
      </script>
      <noscript>
        <strong>Warning !</strong>
        Because your browser does not support HTML5, some elements are simulated using JScript.
        Unfortunately your browser has disabled scripting. Please enable it in order to display this page.
      </noscript>
    <![endif]-->
  </head>
  <body>
    <div class="iu-page teacher_detail_class_student_clicked">
      <header class="iu-header header">
        {% include './compositions/header.html' %}
      </header>
      <section class="iu-page-content page-content">
        <section class="iu-section section">
          <div class="iu-center-box center-box-46">
            <div class="iu-text text-39">
              <p>수업1 _ 홍길동</p>
            </div>
            <div class="iu-cell btn_show_all_student cell-48">
              <a class="iux-inner-link" href="/teacher_class">
                <p>전체 학생 보기</p>
              </a>
            </div>
            <div class="iu-text text-48">
              <p>기타 학생 정보</p>
            </div>
          </div>
        </section>
      </section>
      <footer class="iu-footer footer">
        {% include './compositions/footer.html' %}
      </footer>
    </div>
  </body>
</HTML>