<!DOCTYPE html>
<HTML>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=960" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/common/iu.css">
    <link rel="stylesheet" type="text/css" href="/static/css/pages/teacher_created_class_student_info.css">
    <link rel="stylesheet" type="text/css" href="/static/css/compositions/header_teacher.css">
    <link rel="stylesheet" type="text/css" href="/static/css/compositions/footer.css">
    <link href='https://fonts.googleapis.com/earlyaccess/hanna.css' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/earlyaccess/jejugothic.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//cdn.iueditor.org/js/iueditor-2.1.js"></script>
    <script type="text/javascript">window.IUEditor || document.write('<script src="//s3.iueditor.org/js/iueditor-2.1.js">\x3C/script>')</script>
    <!--[if lt IE 9]>
      <script>
        document.createElement("header" );
        document.createElement("footer" );
        document.createElement("section");
        document.createElement("nav"    );
        document.createElement("article");
      </script>
      <noscript>
        <strong>Warning !</strong>
        Because your browser does not support HTML5, some elements are simulated using JScript.
        Unfortunately your browser has disabled scripting. Please enable it in order to display this page.
      </noscript>
    <![endif]-->
  </head>
  <body>
    <div class="iu-page teacher_created_class_student_info">
      <header class="iu-header header">
        {% include './compositions/header_teacher.html' %}
      </header>
      <section class="iu-page-content page-content">
        <section class="iu-section section">
          <div class="iu-center-box center-box-37">
            <div class="iu-text text-39">
              <p>수업1</p>
            </div>
            <input class="iu-pg-button btn_class pg-button-39" type="button" value="다른 교실로 이동">
            <div class="iu-box box">
              <input class="iu-pg-check-box pg-check-box" type="checkbox">
              <div class="iu-text text-42">
                <p>No</p>
              </div>
              <div class="iu-text text-44">
                <p>이름</p>
              </div>
              <div class="iu-text text-43">
                <p>접속</p>
              </div>
              <div class="iu-text text-45">
                <p>진행현황</p>
              </div>
              <div class="iu-text text-53">
                <p>상세보기</p>
              </div>
            </div>
            <div class="iu-text text-46">
              <p>추가</p>
            </div>
            <div class="iu-text text-47">
              <p>삭제</p>
            </div>
            <img class="iu-image image" src="/static/project/copy_8.png">
            <div class="iu-box box-49">
              <input class="iu-pg-radio-button pg-radio-button" type="radio">
              <input class="iu-pg-check-box pg-check-box-51" type="checkbox">
              <div class="iu-text text-51">
                <p>1</p>
              </div>
              <div class="iu-text text-52">
                <p>가나다</p>
              </div>
              <div class="iu-text text-54">
                <p>상세보기</p>
              </div>
              <div class="iu-text text-55">
                <p>Ch.1</p>
              </div>
              <input class="iu-pg-radio-button pg-radio-button-56" type="radio">
              <input class="iu-pg-radio-button pg-radio-button-57" type="radio">
              <input class="iu-pg-radio-button pg-radio-button-58" type="radio">
              <input class="iu-pg-radio-button pg-radio-button-59" type="radio">
              <input class="iu-pg-radio-button pg-radio-button-60" type="radio">
              <input class="iu-pg-radio-button pg-radio-button-61" type="radio">
              <input class="iu-pg-radio-button pg-radio-button-62" type="radio">
              <input class="iu-pg-radio-button pg-radio-button-63" type="radio">
              <input class="iu-pg-radio-button pg-radio-button-64" type="radio">
              <input class="iu-pg-radio-button pg-radio-button-65" type="radio">
            </div>
          </div>
        </section>
      </section>
      <footer class="iu-footer footer">
        {% include './compositions/footer.html' %}
      </footer>
    </div>
  </body>
</HTML>