<!DOCTYPE html>
<HTML>
<!-- this site is created with: http://www.iueditor.org -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=960" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/common/iu.css">
    <link rel="stylesheet" type="text/css" href="/static/css/pages/teacher_detail_class_student_info.css">
    <link rel="stylesheet" type="text/css" href="/static/project/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/compositions/header_teacher.css">
    <link rel="stylesheet" type="text/css" href="/static/css/compositions/student.css">
    <link rel="stylesheet" type="text/css" href="/static/css/compositions/footer.css">
    <link href='https://fonts.googleapis.com/earlyaccess/hanna.css' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/earlyaccess/jejugothic.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//cdn.iueditor.org/js/iueditor-2.1.js"></script>
    <script type="text/javascript">window.IUEditor || document.write('<script src="//s3.iueditor.org/js/iueditor-2.1.js">\x3C/script>')</script>
    <script type="text/javascript" src="/static/project/students.js"></script>
    <!--[if lt IE 9]>
      <script>
        document.createElement("header" );
        document.createElement("footer" );
        document.createElement("section");
        document.createElement("nav"    );
        document.createElement("article");
      </script>
      <noscript>
        <strong>Warning !</strong>
        Because your browser does not support HTML5, some elements are simulated using JScript.
        Unfortunately your browser has disabled scripting. Please enable it in order to display this page.
      </noscript>
    <![endif]-->
  </head>
  <body>
    <div class="iu-page teacher_detail_class_student_info">
      <header class="iu-header header">
        {% include './compositions/header_teacher.html' %}
      </header>
      <section class="iu-page-content page-content">
        <section class="iu-section section">
          <div class="iu-center-box center-box-37">
            <div class="iu-text text_className text-39" id = {{ classRoomId }}>
              <p>수업 {{ classRoomId }} </p>
            </div>
            <div class="iu-box box">
              <input class="iu-pg-check-box all_chec pg-check-box" type="checkbox" name="studentAllCheck">
              <div class="iu-text text-42">
                <p>No</p>
              </div>
              <div class="iu-text text-44">
                <p>이름</p>
              </div>
              <div class="iu-text text-45">
                <p>진행현황</p>
              </div>
              <div class="iu-text text-144">
                <p>가입여부</p>
              </div>
            </div>
            <div class="iux-popup-button iu-text text-46" data-iu-popup-id="popup">
              <p>추가</p>
            </div>
            <div class="iux-popup-button iu-text btn_student_remove text-47" data-iu-popup-id="popup-98">
              <p>삭제</p>
            </div>
            <img class="iux-popup-button iu-image btn_send_mail image" src="/static/project/copy_8.png" data-iu-popup-id="popup-108">
            <div class="iu-cell cell-48">
              <a class="iux-inner-link" href="/teacher_class">
                <p>다른 교실로 이동</p>
              </a>
            </div>
            <div class="iu-collection collection">
              {% for student in students %}
                <div class="iu-import import">
                  {% include './compositions/student.html' %}
                </div>
              {% endfor %}
            </div>
          </div>
        </section>
      </section>
      <footer class="iu-footer footer">
        {% include './compositions/footer.html' %}
      </footer>
    </div>
    <div id="iux-popup-dimcolor" class="iux-popup-dimcolor" style="display:none"></div>
    <div id="popup" class="iu-popup popup" data-iu-popup-extern-closed data-iu-show-duration="0.40" data-iu-show-animation="top-down">
      <img class="iu-image image-90" src="/static/project/copy_13.png">
      <div class="iu-text text-91">
        <p>수업에 추가할 학생의 이름과 부모님의 이메일 정보를 입력합니다.</p>
        <p>등록한 이메일로 인증/ 개인정보 이용동의 메일 및 공지사항이 발송됩니다.</p>
        <p>&nbsp;</p>
      </div>
      <form class="iu-pg-form form_createStudent pg-form" enctype="multipart/form-data" action="javascript:" method="post">
        {% csrf_token %}
        <input type="hidden" name="classRoomId" value="{{ classRoomId }}">
        <input class="iu-pg-button btn_addStudent pg-button" type="submit" value="등록">
        <input class="iu-pg-text-field name pg-text-field" type="text" name="name" placeholder="학생 이름">
        <input class="iu-pg-text-field email pg-text-field-94" type="email" name="email" placeholder="부모님의 이메일 주소">
        <input class="iu-pg-text-field info pg-text-field-95" type="text" name="info" placeholder="기타 학생 정보">
      </form>
      <div class="iux-popup-close-button"></div>
    </div>
    <div id="popup-98" class="iu-popup popup-98" data-iu-popup-extern-closed data-iu-show-duration="0.40" data-iu-show-animation="top-down">
      <img class="iu-image image-98" src="/static/project/copy_13.png">
      <div class="iu-text text-99">
        <p>아래 학생을 교실에서 삭제합니다.</p>
      </div>
      <input class="iu-pg-button btn_removeConfirm pg-button-100" type="button" value="확인">
      <div class="iux-popup-close-button"></div>
    </div>
    <div id="popup-108" class="iu-popup popup-108" data-iu-popup-extern-closed data-iu-show-duration="0.40" data-iu-show-animation="top-down">
      <form class="iu-pg-form form_sendEmail pg-form-113" enctype="multipart/form-data" action="javascript:" method="post">
        {% csrf_token %}
        <div class="iu-text text-110">
          <p>선택학생 :&nbsp;</p>
        </div>
        <input class="iu-pg-text-field title pg-text-field-109" type="text" name="title" placeholder="제목을 입력하세요.">
        <textarea class="iu-pg-text-view content pg-text-view-110" name="content" placeholder="메일 내용을 입력하세요."></textarea>
        <input class="iu-pg-button btn_sendEmail pg-button-111" type="submit" value="보내기">
      </form>
      <div class="iux-popup-close-button"></div>
    </div>
  </body>
</HTML>