<!DOCTYPE html>
<HTML>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=960" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/common/iu.css">
    <link rel="stylesheet" type="text/css" href="/static/css/pages/teacher_detail_class.css">
    <link rel="stylesheet" type="text/css" href="/static/css/compositions/header_teacher.css">
    <link rel="stylesheet" type="text/css" href="/static/css/compositions/footer.css">
    <link href='https://fonts.googleapis.com/earlyaccess/hanna.css' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/earlyaccess/jejugothic.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//cdn.iueditor.org/js/iueditor-2.1.js"></script>
    <script type="text/javascript">window.IUEditor || document.write('<script src="//s3.iueditor.org/js/iueditor-2.1.js">\x3C/script>')</script>
    <!--[if lt IE 9]>
      <script>
        document.createElement("header" );
        document.createElement("footer" );
        document.createElement("section");
        document.createElement("nav"    );
        document.createElement("article");
      </script>
      <noscript>
        <strong>Warning !</strong>
        Because your browser does not support HTML5, some elements are simulated using JScript.
        Unfortunately your browser has disabled scripting. Please enable it in order to display this page.
      </noscript>
    <![endif]-->
  </head>
  <body>
    <div class="iu-page teacher_detail_class">
      <header class="iu-header header">
        {% include './compositions/header_teacher.html' %}
      </header>
      <section class="iu-page-content page-content">
        <section class="iu-section section">
          <div class="iu-center-box center-box-37">
            <div class="iu-text text-38">
              <p>{{classRoom.className}}</p>
            </div>
            <img class="iu-image image" src="/static/project/copy_6.png">
            <div class="iu-text text-41">
              <p>학생 정보</p>
            </div>
            <div class="iu-text text-42">
              <p>수업에 접속할 학생을 등록하고, 등록된 학생들의 플레이 정보를 확인할 수 있습니다.&nbsp;</p>
            </div>
            <div class="iu-text text-44">
              <p>교실 정보 수정</p>
            </div>
            <div class="iu-text text-45">
              <p>등록된 교실 정보를 수정합니다.</p>
            </div>
            <img class="iu-image image-46" src="/static/project/copy_7.png">
            <div class="iu-cell cell-47">
              <a class="iux-inner-link" href="/create_class">
                <p>새 교실 만들기</p>
              </a>
            </div>
            <div class="iu-cell cell-48">
              <a class="iux-inner-link" href="/teacher_class">
                <p>다른 교실로 이동</p>
              </a>
            </div>
          </div>
        </section>
      </section>
      <footer class="iu-footer footer">
        {% include './compositions/footer.html' %}
      </footer>
    </div>
  </body>
</HTML>