<div class="iu-box box">
  <div class="iu-cell cell-129">
    <p>Grade</p>
  </div>
  <div class="iu-cell cell-130">
    <p>Command</p>
  </div>
  <div class="iu-cell cell-131">
    <p>Time</p>
  </div>
  <div class="iu-cell cell-132">
    <p>Trying</p>
  </div>
  <div class="iu-cell cell-133">
    <p>Error</p>
  </div>
  <div class="iu-cell cell-134">
    <p>{{log.clgrade}}</p>
  </div>
  <div class="iu-cell cell-135">
    <p>{{ log.clcommands }} 회</p>
  </div>
  <div class="iu-cell cell-136">
    <p>{{ log.cltime }} 초</p>
  </div>
  <div class="iu-cell cell-137">
    <p>{{ log.cltrying }} 회</p>
  </div>
  <div class="iu-cell cell-138">
    <p>{{ log.clerror }} 회</p>
  </div>
</div>