<div class="iu-box box-185">
  <input class="iu-pg-radio-button pg-radio-button-186" type="radio">
  <input class="iu-pg-check-box pg-check-box-189" type="checkbox" name="studentCheck">
  <div class="iu-text text-188">
    <p>{{student.number}}</p>
  </div>
  <div class="iu-text text-187">
    <p>{{student.studentName}}</p>
  </div>
  <div class="iu-text text-190">
    <p>상세보기</p>
  </div>
  <div class="iu-text text-191">
    <p>Ch.1</p>
  </div>
  <input class="iu-pg-radio-button pg-radio-button-192" type="radio">
  <input class="iu-pg-radio-button pg-radio-button-193" type="radio">
  <input class="iu-pg-radio-button pg-radio-button-194" type="radio">
  <input class="iu-pg-radio-button pg-radio-button-195" type="radio">
  <input class="iu-pg-radio-button pg-radio-button-196" type="radio">
  <input class="iu-pg-radio-button pg-radio-button-197" type="radio">
  <input class="iu-pg-radio-button pg-radio-button-198" type="radio">
  <input class="iu-pg-radio-button pg-radio-button-199" type="radio">
  <input class="iu-pg-radio-button pg-radio-button-200" type="radio">
  <input class="iu-pg-radio-button pg-radio-button-201" type="radio">
</div>