.image-153 {
  height:30px;
  left:38px;
  top:39px;
  width:44px;
}
.text-154 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:300;
  height:54px;
  left:104px;
  top:32px;
  width:441px;
}
.pg-button-159 {
  background-color:#FFFFFF;
  border-color:#DBDBDB;
  border-radius:50px;
  border-width:2px;
  color:#FF6D00;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:40px;
  left:398px;
  top:297px;
  width:100px;
}
.pg-text-field-158 {
  border-bottom-color:#FF6D00;
  border-bottom-width:3px;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:43px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  right:0px;
  top:104px;
  width:375px;
}
.pg-text-field-157 {
  border-bottom-color:#FF6D00;
  border-bottom-width:3px;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:43px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  right:0px;
  top:167px;
  width:375px;
}
.pg-text-field-159 {
  border-bottom-color:#FF6D00;
  border-bottom-width:3px;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:43px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  right:0px;
  top:229px;
  width:375px;
}