.box-106 {
  border-bottom-color:#B6B6B6;
  border-bottom-width:1px;
  border-left-width:0px;
  border-right-width:0px;
  border-top-width:0px;
  float:none;
  height:81px;
  margin-left:0px;
  margin-top:10px;
  position:relative;
  width:100%;
}
.text-107 {
  font-family:'Jeju Gothic', serif;
  font-size:20px;
  font-weight:700;
  height:52px;
  left:11px;
  text-align:center;
  top:17px;
  width:143px;
}
.text-108 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:52px;
  left:181px;
  top:17px;
  width:448px;
}
.text-109 {
  color:#6D6D6D;
  font-family:'Jeju Gothic', serif;
  font-size:12px;
  font-weight:400;
  height:25px;
  left:688px;
  top:23px;
  width:181px;
}
.text-111 {
  font-family:'Jeju Gothic', serif;
  font-size:12px;
  height:25px;
  left:688px;
  top:47px;
  width:100px;
}
.text-112 {
  height:0px;
  left:508px;
  top:48px;
  width:0px;
}
.text-113 {
  font-family:'Jeju Gothic', serif;
  font-size:12px;
  height:25px;
  left:638px;
  top:23px;
  width:50px;
}
.text-114 {
  font-family:'Jeju Gothic', serif;
  font-size:12px;
  height:25px;
  left:637px;
  top:46px;
  width:50px;
}
.cell-113 {
  border-color:#DBDBDB;
  border-radius:50px;
  border-width:2px;
  color:#FF6D00;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:45px;
  left:876px;
  line-height:45px;
  text-align:center;
  top:20px;
  width:126px;
}