.cell-22 {
  height:40px;
  left:57px;
  line-height:40px;
  text-align:center;
  top:116px;
  width:100px;
}
.cell-23 {
  height:40px;
  left:126px;
  line-height:40px;
  text-align:center;
  top:181px;
  width:100px;
}