.image-159 {
  height:30px;
  left:73px;
  top:48px;
  width:44px;
}
.text-160 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:300;
  height:29px;
  left:139px;
  top:53px;
  width:441px;
}
.pg-button-161 {
  background-color:#FFFFFF;
  border-color:#DBDBDB;
  border-radius:50px;
  border-width:2px;
  color:#FF6D00;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:40px;
  left:421px;
  top:271px;
  width:100px;
}