.box-256 {
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.cell-129 {
  height:25px;
  left:10px;
  line-height:25px;
  text-align:center;
  top:10px;
  width:84px;
}
.cell-130 {
  height:25px;
  left:10px;
  line-height:25px;
  text-align:center;
  top:53px;
  width:84px;
}
.cell-131 {
  height:25px;
  left:11px;
  line-height:25px;
  text-align:center;
  top:95px;
  width:84px;
}
.cell-132 {
  height:25px;
  left:10px;
  line-height:25px;
  text-align:center;
  top:136px;
  width:84px;
}
.cell-133 {
  height:25px;
  left:11px;
  line-height:25px;
  text-align:center;
  top:181px;
  width:84px;
}
.cell-134 {
  height:25px;
  left:110px;
  line-height:25px;
  text-align:center;
  top:10px;
  width:84px;
}
.cell-135 {
  height:25px;
  left:110px;
  line-height:25px;
  text-align:center;
  top:53px;
  width:84px;
}
.cell-136 {
  height:25px;
  left:111px;
  line-height:25px;
  text-align:center;
  top:95px;
  width:84px;
}
.cell-137 {
  height:25px;
  left:110px;
  line-height:25px;
  text-align:center;
  top:136px;
  width:84px;
}
.cell-138 {
  height:25px;
  left:111px;
  line-height:25px;
  text-align:center;
  top:181px;
  width:84px;
}