.iu-center-box {
  width:1024px;
}
.center-box-2 {
  background-color:#FFFFFF;
  font-size:14px;
}
.cell-13 {
  color:#6D6D6D;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:300;
  height:40px;
  left:480px;
  line-height:40px;
  text-align:center;
  top:60px;
  width:260px;
}
.cell-27 {
  color:#6D6D6D;
  font-family:'Jeju Gothic', serif;
  font-size:12px;
  font-weight:300;
  height:40px;
  left:480px;
  line-height:40px;
  text-align:center;
  top:37px;
  width:262px;
}
.image-167 {
  height:40px;
  left:342px;
  top:46px;
  width:100px;
}