.iu-center-box {
  width:1024px;
}
.center-box-49 {
  opacity:100;
}
.image-50 {
  height:40px;
  left:20px;
  top:15px;
  width:100px;
}
.cell-53 {
  color:#494949;
  font-size:12px;
  height:40px;
  left:884px;
  line-height:40px;
  text-align:center;
  top:15px;
  width:62px;
}
.cell-54 {
  color:#494949;
  font-size:12px;
  height:40px;
  left:945px;
  line-height:40px;
  text-align:center;
  top:14px;
  width:62px;
}
.cell-56 {
  color:#494949;
  font-size:12px;
  height:40px;
  left:911px;
  line-height:40px;
  text-align:center;
  top:14px;
  width:62px;
}
.cell-58 {
  color:#6D6D6D;
  font-family:'Hanna', serif;
  font-size:18px;
  font-weight:400;
  height:40px;
  left:117px;
  line-height:40px;
  text-align:center;
  top:16px;
  width:100px;
}