.iu-center-box {
  width:1024px;
}
.center-box {
  opacity:100;
}
.image-27 {
  height:40px;
  left:20px;
  top:15px;
  width:100px;
}
.cell-18 > a {
  line-height:40px;
}
.cell-18 {
  color:#242424;
  font-family:'Hanna', serif;
  font-weight:400;
  height:40px;
  left:548px;
  text-align:center;
  top:16px;
  width:100px;
}
.cell {
  color:#242424;
  font-family:'Hanna', serif;
  font-weight:400;
  height:40px;
  left:450px;
  text-align:center;
  top:16px;
  width:100px;
}
.cell > a {
  line-height:40px;
}
.cell-21 {
  color:#494949;
  font-size:12px;
  height:40px;
  left:884px;
  line-height:40px;
  text-align:center;
  top:15px;
  width:62px;
}
.cell-24 {
  color:#494949;
  font-size:12px;
  height:40px;
  left:945px;
  line-height:40px;
  text-align:center;
  top:14px;
  width:62px;
}
.cell-19 {
  color:#242424;
  font-family:'Hanna', serif;
  font-weight:400;
  height:40px;
  left:647px;
  text-align:center;
  top:15px;
  width:100px;
}
.cell-19 > a {
  line-height:40px;
}
.cell-25 {
  color:#494949;
  font-size:12px;
  height:40px;
  left:911px;
  line-height:40px;
  text-align:center;
  top:14px;
  width:62px;
}
.cell-20 > a {
  line-height:40px;
}
.cell-20 {
  color:#242424;
  font-family:'Hanna', serif;
  font-weight:400;
  height:40px;
  left:747px;
  text-align:center;
  top:15px;
  width:100px;
}