.iu-center-box {
  width:1024px;
}
.center-box-55 {
  opacity:100;
}
.image-56 {
  height:40px;
  left:20px;
  top:15px;
  width:100px;
}
.cell-61 {
  color:#FF6D00;
  font-family:'Roboto', sans-serif;
  font-weight:700;
  height:40px;
  left:548px;
  text-align:center;
  top:16px;
  width:100px;
}
.cell-61 > a {
  line-height:40px;
}
.cell-57 {
  color:#494949;
  font-size:12px;
  height:40px;
  left:884px;
  line-height:40px;
  text-align:center;
  top:15px;
  width:62px;
}
.cell-62 {
  color:#494949;
  font-size:12px;
  height:40px;
  left:945px;
  line-height:40px;
  text-align:center;
  top:14px;
  width:62px;
}
.cell-63 {
  color:#FF6D00;
  font-family:'Roboto', sans-serif;
  font-weight:700;
  height:40px;
  left:647px;
  line-height:40px;
  text-align:center;
  top:15px;
  width:100px;
}
.cell-64 {
  color:#494949;
  font-size:12px;
  height:40px;
  left:911px;
  line-height:40px;
  text-align:center;
  top:14px;
  width:62px;
}
.cell-60 {
  color:#6D6D6D;
  font-family:'Roboto', sans-serif;
  font-size:12px;
  font-weight:400;
  height:40px;
  left:785px;
  line-height:40px;
  text-align:center;
  top:15px;
  width:100px;
}
.cell-65 {
  color:#FF6D00;
  font-family:'Roboto', sans-serif;
  font-weight:700;
  height:40px;
  left:117px;
  line-height:40px;
  text-align:center;
  top:16px;
  width:100px;
}