.iu-center-box {
  width:1024px;
}
.center-box {
  background-color:rgba(255,255,255,0.68);
  opacity:100;
}
.image-27 {
  height:40px;
  left:20px;
  top:15px;
  width:100px;
}
.cell-18 {
  -webkit-transition:color 0.3s;
  color:#929292;
  font-family:'Hanna', serif;
  font-weight:400;
  height:40px;
  left:548px;
  text-align:center;
  top:16px;
  transition:color 0.3s;
  width:100px;
}
.cell-18 > a {
  line-height:40px;
}
.cell-18.iux-hover, .cell-18.iux-active {
  color:#7AD6C9;
}
.cell {
  -webkit-transition:color 0.3s;
  color:#929292;
  font-family:'Hanna', serif;
  font-weight:400;
  height:40px;
  left:450px;
  text-align:center;
  top:16px;
  transition:color 0.3s;
  width:100px;
}
.cell > a {
  line-height:40px;
}
.cell.iux-hover, .cell.iux-active {
  color:#7AD6C9;
}
.cell-21 {
  color:#494949;
  font-size:12px;
  height:40px;
  left:884px;
  line-height:40px;
  text-align:center;
  top:15px;
  width:62px;
}
.cell-24 {
  color:#494949;
  font-size:12px;
  height:40px;
  left:945px;
  line-height:40px;
  text-align:center;
  top:14px;
  width:62px;
}
.cell-19 {
  -webkit-transition:color 0.3s;
  color:#929292;
  font-family:'Hanna', serif;
  font-weight:400;
  height:40px;
  left:647px;
  text-align:center;
  top:15px;
  transition:color 0.3s;
  width:100px;
}
.cell-19 > a {
  line-height:40px;
}
.cell-19.iux-hover, .cell-19.iux-active {
  color:#7AD6C9;
}
.cell-25 {
  color:#494949;
  font-size:12px;
  height:40px;
  left:911px;
  line-height:40px;
  text-align:center;
  top:14px;
  width:62px;
}
.cell-20 {
  -webkit-transition:color 0.3s;
  color:#929292;
  font-family:'Hanna', serif;
  font-weight:400;
  height:40px;
  left:747px;
  text-align:center;
  top:15px;
  transition:color 0.3s;
  width:100px;
}
.cell-20 > a {
  line-height:40px;
}
.cell-20.iux-hover, .cell-20.iux-active {
  color:#7AD6C9;
}