.box-185 {
  border-bottom-color:#DBDBDB;
  border-bottom-width:1px;
  border-top-width:0px;
  height:140px;
  left:1px;
  top:-2px;
  width:1024px;
}
.pg-check-box-189 {
  height:32px;
  left:14px;
  top:55px;
  width:24px;
}
.text-188 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:27px;
  left:60px;
  top:63px;
  width:31px;
}
.text-187 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:19px;
  left:113px;
  text-align:center;
  top:61px;
  width:48px;
}
.text-190 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:27px;
  left:912px;
  top:63px;
  width:56px;
}
.box-192 {
  height:99px;
  left:270px;
  top:20px;
  width:108px;
}
.text-191 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:27px;
  left:39px;
  top:37px;
  width:38px;
}
.box-182 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:58px;
  top:11px;
  width:10px;
}
.box-181 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:39px;
  top:11px;
  width:10px;
}
.box-183 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:58px;
  top:75px;
  width:10px;
}
.box-184 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:40px;
  top:75px;
  width:10px;
}
.box-186 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:75px;
  top:24px;
  width:10px;
}
.box-187 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:23px;
  top:24px;
  width:10px;
}
.box-188 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:76px;
  top:60px;
  width:10px;
}
.box-189 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:23px;
  top:60px;
  width:10px;
}
.box-190 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:14px;
  top:42px;
  width:10px;
}
.box-191 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:84px;
  top:42px;
  width:10px;
}
.box-193 {
  height:99px;
  left:400px;
  top:20px;
  width:108px;
}
.text-185 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:27px;
  left:39px;
  top:37px;
  width:38px;
}
.box-194 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:57px;
  top:11px;
  width:10px;
}
.box-195 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:39px;
  top:11px;
  width:10px;
}
.box-196 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:58px;
  top:75px;
  width:10px;
}
.box-197 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:40px;
  top:75px;
  width:10px;
}
.box-198 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:76px;
  top:24px;
  width:10px;
}
.box-199 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:23px;
  top:24px;
  width:10px;
}
.box-200 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:76px;
  top:60px;
  width:10px;
}
.box-201 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:23px;
  top:60px;
  width:10px;
}
.box-202 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:14px;
  top:42px;
  width:10px;
}
.box-203 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:84px;
  top:42px;
  width:10px;
}
.box-204 {
  height:99px;
  left:530px;
  top:19px;
  width:108px;
}
.text-197 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:27px;
  left:39px;
  top:37px;
  width:38px;
}
.box-205 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:57px;
  top:11px;
  width:10px;
}
.box-206 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:39px;
  top:11px;
  width:10px;
}
.box-207 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:58px;
  top:75px;
  width:10px;
}
.box-208 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:40px;
  top:75px;
  width:10px;
}
.box-209 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:76px;
  top:24px;
  width:10px;
}
.box-210 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:23px;
  top:24px;
  width:10px;
}
.box-211 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:76px;
  top:60px;
  width:10px;
}
.box-212 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:23px;
  top:60px;
  width:10px;
}
.box-213 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:14px;
  top:42px;
  width:10px;
}
.box-214 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:84px;
  top:42px;
  width:10px;
}
.box-215 {
  height:99px;
  left:660px;
  top:18px;
  width:108px;
}
.text-208 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:27px;
  left:39px;
  top:37px;
  width:38px;
}
.box-216 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:57px;
  top:11px;
  width:10px;
}
.box-217 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:39px;
  top:11px;
  width:10px;
}
.box-218 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:58px;
  top:75px;
  width:10px;
}
.box-219 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:40px;
  top:75px;
  width:10px;
}
.box-220 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:76px;
  top:24px;
  width:10px;
}
.box-221 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:23px;
  top:24px;
  width:10px;
}
.box-222 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:76px;
  top:60px;
  width:10px;
}
.box-223 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:23px;
  top:60px;
  width:10px;
}
.box-224 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:14px;
  top:42px;
  width:10px;
}
.box-225 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:84px;
  top:42px;
  width:10px;
}
.box-226 {
  height:99px;
  left:790px;
  top:20px;
  width:108px;
}
.text-221 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:27px;
  left:39px;
  top:37px;
  width:38px;
}
.box-227 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:57px;
  top:11px;
  width:10px;
}
.box-229 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:39px;
  top:11px;
  width:10px;
}
.box-228 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:58px;
  top:75px;
  width:10px;
}
.box-230 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:40px;
  top:75px;
  width:10px;
}
.box-231 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:76px;
  top:24px;
  width:10px;
}
.box-232 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:23px;
  top:24px;
  width:10px;
}
.box-233 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:76px;
  top:60px;
  width:10px;
}
.box-234 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:23px;
  top:60px;
  width:10px;
}
.box-235 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:14px;
  top:42px;
  width:10px;
}
.box-236 {
  background-color:#000000;
  border-radius:10px;
  height:10px;
  left:84px;
  top:42px;
  width:10px;
}
.box-237 {
  background-color:#000000;
  border-radius:20px;
  height:20px;
  left:214px;
  top:63px;
  width:20px;
}
.box-238 {
  border-color:#000000;
  border-radius:20px;
  border-width:1px;
  height:20px;
  left:213px;
  top:62px;
  width:20px;
}