.box-185 {
  border-bottom-color:#DBDBDB;
  border-bottom-width:1px;
  border-top-width:0px;
  height:140px;
  left:0px;
  top:0px;
  width:1024px;
}
.pg-radio-button-186 {
  background-position:center center;
  height:32px;
  left:263px;
  top:53px;
  width:23px;
}
.pg-check-box-189 {
  height:32px;
  left:14px;
  top:55px;
  width:24px;
}
.text-188 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:27px;
  left:60px;
  top:63px;
  width:31px;
}
.text-187 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:27px;
  left:144px;
  top:58px;
  width:48px;
}
.text-190 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:27px;
  left:901px;
  top:57px;
  width:56px;
}
.text-191 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:27px;
  left:360px;
  top:57px;
  width:38px;
}
.pg-radio-button-192 {
  background-position:center center;
  height:10px;
  left:335px;
  top:62px;
  width:10px;
}
.pg-radio-button-193 {
  background-position:center center;
  height:10px;
  left:405px;
  top:62px;
  width:10px;
}
.pg-radio-button-194 {
  background-position:center center;
  height:10px;
  left:344px;
  top:44px;
  width:10px;
}
.pg-radio-button-195 {
  background-position:center center;
  height:10px;
  left:360px;
  top:31px;
  width:10px;
}
.pg-radio-button-196 {
  background-position:center center;
  height:10px;
  left:378px;
  top:31px;
  width:10px;
}
.pg-radio-button-197 {
  background-position:center center;
  height:10px;
  left:397px;
  top:44px;
  width:10px;
}
.pg-radio-button-198 {
  background-position:center center;
  height:10px;
  left:346px;
  top:81px;
  width:10px;
}
.pg-radio-button-199 {
  background-position:center center;
  height:10px;
  left:361px;
  top:94px;
  width:10px;
}
.pg-radio-button-200 {
  background-position:center center;
  height:10px;
  left:379px;
  top:94px;
  width:10px;
}
.pg-radio-button-201 {
  background-position:center center;
  height:10px;
  left:397px;
  top:82px;
  width:10px;
}