.iu-center-box {
  width:1024px;
}
.iu-page {
  min-width:1024px;
}
.header {
  -webkit-box-shadow:0px 2px 10px 0px #DBDBDB;
  background-color:#FFFFFF;
  background-position:center;
  border-bottom-width:0px;
  border-color:#000000;
  box-shadow:0px 2px 10px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:70px;
  left:0px;
  opacity:100;
  position:fixed;
  top:0px;
  width:100%;
  z-index:11;
}
.page-content {
  background-color:#FFFFFF;
}
.section {
  height:1700px;
}
.center-box-37 {
  border-right-width:0px;
}
.box-64 {
  border-color:#929292;
  border-radius:30px;
  border-style:dashed;
  border-width:1px;
  height:158px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:659px;
  width:973px;
}
.floating-image-65 {
  background-position:center center;
  background-size:contain;
  height:100px;
  left:49px;
  top:29px;
  width:100px;
}
.text-66 {
  font-family:'Jeju Gothic', serif;
  font-size:21px;
  font-weight:400;
  height:43px;
  left:191px;
  top:30px;
  width:392px;
}
.text-68 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:111px;
  left:193px;
  text-align:left;
  top:71px;
  width:553px;
}
.cell-170 {
  border-color:#B6B6B6;
  border-radius:30px;
  border-width:1px;
  color:#FF6D00;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:30px;
  left:765px;
  text-align:center;
  top:102px;
  width:175px;
}
.cell-170 > a {
  line-height:30px;
}
.text-27 {
  font-family:'Hanna', serif;
  font-size:30px;
  font-weight:400;
  height:43px;
  left:84px;
  top:96px;
  width:392px;
}
.text-28 {
  font-family:'Jeju Gothic', serif;
  font-size:18px;
  font-weight:400;
  height:111px;
  left:85px;
  text-align:left;
  top:157px;
  width:679px;
}
.box {
  border-color:#929292;
  border-radius:30px;
  border-style:dashed;
  border-width:1px;
  height:158px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:259px;
  width:973px;
}
.floating-image {
  background-position:center center;
  background-size:contain;
  height:100px;
  left:49px;
  top:29px;
  width:100px;
}
.text-40 {
  font-family:'Jeju Gothic', serif;
  font-size:21px;
  font-weight:400;
  height:43px;
  left:191px;
  top:30px;
  width:392px;
}
.text-41 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:111px;
  left:193px;
  text-align:left;
  top:71px;
  width:679px;
}
.cell-169 {
  border-color:#B6B6B6;
  border-radius:30px;
  border-width:1px;
  color:#FF6D00;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:30px;
  left:765px;
  text-align:center;
  top:102px;
  width:175px;
}
.cell-169 > a {
  line-height:30px;
}
.box-54 {
  border-color:#929292;
  border-radius:30px;
  border-style:dashed;
  border-width:1px;
  height:158px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:459px;
  width:973px;
}
.floating-image-55 {
  background-position:center center;
  background-size:contain;
  height:100px;
  left:49px;
  top:29px;
  width:100px;
}
.text-56 {
  font-family:'Jeju Gothic', serif;
  font-size:21px;
  font-weight:400;
  height:43px;
  left:191px;
  top:30px;
  width:392px;
}
.text-57 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:111px;
  left:193px;
  text-align:left;
  top:71px;
  width:679px;
}
.cell-167 {
  border-color:#B6B6B6;
  border-radius:30px;
  border-width:1px;
  color:#FF6D00;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:30px;
  left:765px;
  text-align:center;
  top:102px;
  width:175px;
}
.cell-167 > a {
  line-height:30px;
}
.box-45 {
  height:0px;
  left:69px;
  top:104px;
  width:0px;
}
.box-69 {
  border-color:#929292;
  border-radius:30px;
  border-style:dashed;
  border-width:1px;
  height:158px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:859px;
  width:973px;
}
.floating-image-70 {
  background-position:center center;
  background-size:contain;
  height:100px;
  left:49px;
  top:29px;
  width:100px;
}
.text-71 {
  font-family:'Jeju Gothic', serif;
  font-size:21px;
  font-weight:400;
  height:43px;
  left:191px;
  top:30px;
  width:392px;
}
.text-72 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:111px;
  left:193px;
  text-align:left;
  top:71px;
  width:679px;
}
.cell-171 {
  border-color:#B6B6B6;
  border-radius:30px;
  border-width:1px;
  color:#FF6D00;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:30px;
  left:765px;
  text-align:center;
  top:102px;
  width:175px;
}
.cell-171 > a {
  line-height:30px;
}
.box-74 {
  border-color:#929292;
  border-radius:30px;
  border-style:dashed;
  border-width:1px;
  height:158px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:1059px;
  width:973px;
}
.floating-image-75 {
  background-position:center center;
  background-size:contain;
  height:100px;
  left:49px;
  top:29px;
  width:100px;
}
.text-76 {
  font-family:'Jeju Gothic', serif;
  font-size:21px;
  font-weight:400;
  height:43px;
  left:191px;
  top:30px;
  width:392px;
}
.text-77 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:111px;
  left:193px;
  text-align:left;
  top:71px;
  width:679px;
}
.cell-172 {
  border-color:#B6B6B6;
  border-radius:30px;
  border-width:1px;
  color:#FF6D00;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:30px;
  left:765px;
  text-align:center;
  top:102px;
  width:175px;
}
.cell-172 > a {
  line-height:30px;
}
.box-79 {
  border-color:#929292;
  border-radius:30px;
  border-style:dashed;
  border-width:1px;
  height:158px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:1259px;
  width:973px;
}
.floating-image-80 {
  background-position:center center;
  background-size:contain;
  height:100px;
  left:49px;
  top:29px;
  width:100px;
}
.text-81 {
  font-family:'Jeju Gothic', serif;
  font-size:21px;
  font-weight:400;
  height:43px;
  left:191px;
  top:30px;
  width:392px;
}
.text-82 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:111px;
  left:193px;
  text-align:left;
  top:71px;
  width:679px;
}
.cell-173 {
  border-color:#B6B6B6;
  border-radius:30px;
  border-width:1px;
  color:#FF6D00;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:30px;
  left:765px;
  text-align:center;
  top:102px;
  width:175px;
}
.cell-173 > a {
  line-height:30px;
}
.box-84 {
  border-color:#929292;
  border-radius:30px;
  border-style:dashed;
  border-width:1px;
  height:158px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:1459px;
  width:973px;
}
.floating-image-85 {
  background-position:center center;
  background-size:contain;
  height:100px;
  left:49px;
  top:29px;
  width:100px;
}
.text-86 {
  font-family:'Jeju Gothic', serif;
  font-size:21px;
  font-weight:400;
  height:43px;
  left:191px;
  top:30px;
  width:392px;
}
.text-87 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:111px;
  left:193px;
  text-align:left;
  top:71px;
  width:679px;
}
.cell-174 {
  border-color:#B6B6B6;
  border-radius:30px;
  border-width:1px;
  color:#FF6D00;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:30px;
  left:765px;
  text-align:center;
  top:102px;
  width:175px;
}
.cell-174 > a {
  line-height:30px;
}
.footer {
  height:120px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}