.iu-center-box {
  width:1024px;
}
.iu-page {
  min-width:1024px;
}
.header {
  -webkit-box-shadow:0px 2px 10px 0px #DBDBDB;
  background-color:#FFFFFF;
  background-position:center;
  border-bottom-width:0px;
  border-color:#000000;
  box-shadow:0px 2px 10px 0px #DBDBDB;
  color:#333333;
  height:70px;
  left:0px;
  opacity:100;
  position:relative;
  top:0px;
  width:100%;
}
.page-content {
  background-color:#FFFFFF;
}
.section {
  height:720px;
}
.text-28 {
  font-family:'Jeju Gothic', serif;
  font-size:18px;
  font-weight:400;
  height:111px;
  left:85px;
  text-align:left;
  top:101px;
  width:679px;
}
.text-27 {
  font-family:'Hanna', serif;
  font-size:30px;
  font-weight:400;
  height:43px;
  left:84px;
  top:46px;
  width:392px;
}
.footer {
  height:120px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}