.iu-center-box {
  width:1024px;
}
.iu-page {
  min-width:1024px;
}
.header {
  -webkit-box-shadow:0px 2px 10px 0px #DBDBDB;
  background-color:#FFFFFF;
  background-position:center;
  border-bottom-width:0px;
  border-color:#000000;
  box-shadow:0px 2px 10px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:70px;
  left:0px;
  opacity:100;
  position:fixed;
  top:0px;
  width:100%;
  z-index:11;
}
.page-content {
  background-color:#FFFFFF;
}
.section {
  height:720px;
}
.center-box-37 {
  color:#000000;
}
.text-28 {
  color:#000000;
  font-family:'Jeju Gothic', serif;
  font-size:18px;
  font-weight:400;
  height:66px;
  left:85px;
  text-align:left;
  top:151px;
  width:679px;
}
.text-27 {
  font-family:'Hanna', serif;
  font-size:30px;
  font-weight:400;
  height:43px;
  left:84px;
  top:96px;
  width:392px;
}
.collapsible {
  left:78px;
  top:241px;
  width:86.24%;
}
.collapsible-header {
  height:84px;
  position:relative;
}
.collapsible-header-item {
  height:100%;
  width:100%;
}
.text-55 {
  background-position:center;
  bottom:0px;
  color:#CCE4E5;
  font-family:'Helvetica', sans-serif;
  font-size:18px;
  height:100%;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:left;
  top:0px;
  width:6.30%;
}
.text-135 {
  background-position:center;
  bottom:0px;
  color:#000000;
  font-family:'Helvetica', sans-serif;
  font-size:18px;
  height:30.50%;
  left:61px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:left;
  top:0px;
  width:54.30%;
}
.box {
  border-bottom-color:#929292;
  border-bottom-width:0.3px;
  height:0px;
  left:0%;
  top:90%;
  width:100%;
}
.floating-image-141 {
  background-image:url('/static/project/arrow_down.png');
  background-position:center center;
  background-size:contain;
  bottom:0px;
  height:30px;
  left:95%;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:30px;
}
.collapsible-header-item-53 {
  display:none;
  height:100%;
  width:100%;
}
.text-136 {
  background-position:center;
  bottom:0px;
  color:#CCE4E5;
  font-family:'Helvetica', sans-serif;
  font-size:18px;
  height:100%;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:left;
  top:0px;
  width:6.30%;
}
.text-137 {
  background-position:center;
  bottom:0px;
  color:#000000;
  font-family:'Jeju Gothic', serif;
  font-size:18px;
  font-weight:400;
  height:30.50%;
  left:61px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:left;
  top:0px;
  width:54.30%;
}
.box-138 {
  border-bottom-color:#929292;
  border-bottom-width:0.3px;
  height:0px;
  left:0%;
  top:90%;
  width:100%;
}
.floating-image {
  background-image:url('/static/project/arrow_up.png');
  background-position:center center;
  background-size:contain;
  bottom:0px;
  height:30px;
  left:95%;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:30px;
}
.collapsible-content {
  display:none;
  height:80px;
  position:relative;
}
.text-54 {
  color:#FFCB8E;
  font-family:'Jeju Gothic', serif;
  font-size:60px;
  height:83px;
  left:33px;
  text-align:left;
  top:-9px;
  width:6.30%;
}
.text-139 {
  background-position:center;
  color:#000000;
  font-family:'Jeju Gothic', serif;
  font-size:13px;
  height:30.50%;
  left:106px;
  text-align:left;
  top:30px;
  width:54.30%;
}
.footer {
  height:120px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}