.iu-center-box {
  width:1024px;
}
.iu-page {
  min-width:1024px;
}
.header {
  -webkit-box-shadow:0px 2px 10px 0px #DBDBDB;
  background-color:#FFFFFF;
  background-position:center;
  border-bottom-width:0px;
  border-color:#000000;
  box-shadow:0px 2px 10px 0px #DBDBDB;
  color:#333333;
  height:70px;
  left:0px;
  opacity:100;
  position:relative;
  top:0px;
  width:100%;
}
.page-content {
  background-color:#FFFFFF;
}
.section {
  height:720px;
}
.text-39 {
  font-family:'Hanna', serif;
  font-size:24px;
  font-weight:400;
  height:60px;
  left:39px;
  top:30px;
  width:178px;
}
.cell-48 > a {
  line-height:46px;
}
.cell-48 {
  border-color:#DBDBDB;
  border-radius:50px;
  border-width:2px;
  color:#FF6D00;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:46px;
  left:837px;
  text-align:center;
  top:26px;
  width:157px;
}
.text-48 {
  color:#6D6D6D;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  left:227px;
  top:41px;
  width:167px;
}
.pg-radio-button {
  height:32px;
  left:224px;
  top:158px;
  width:24px;
}
.pg-radio-button-118 {
  height:32px;
  left:394px;
  top:158px;
  width:24px;
}
.cell-120 {
  height:40px;
  left:126px;
  line-height:40px;
  text-align:center;
  top:156px;
  width:100px;
}
.cell-121 {
  height:40px;
  left:291px;
  line-height:40px;
  text-align:center;
  top:156px;
  width:100px;
}
.pg-radio-button-121 {
  height:32px;
  left:560px;
  top:155px;
  width:24px;
}
.pg-radio-button-122 {
  height:32px;
  left:730px;
  top:155px;
  width:24px;
}
.cell-123 {
  height:40px;
  left:462px;
  line-height:40px;
  text-align:center;
  top:153px;
  width:100px;
}
.cell-124 {
  height:40px;
  left:627px;
  line-height:40px;
  text-align:center;
  top:153px;
  width:100px;
}
.pg-radio-button-125 {
  height:32px;
  left:899px;
  top:152px;
  width:24px;
}
.cell-126 {
  height:40px;
  left:796px;
  line-height:40px;
  text-align:center;
  top:150px;
  width:100px;
}
.footer {
  height:120px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}