.iu-center-box {
  width:1024px;
}
.iu-page {
  min-width:1024px;
}
.header {
  -webkit-box-shadow:0px 2px 10px 0px #DBDBDB;
  background-color:#FFFFFF;
  background-position:center;
  border-bottom-width:0px;
  border-color:#000000;
  box-shadow:0px 2px 10px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:70px;
  left:0px;
  opacity:100;
  position:fixed;
  top:0px;
  width:100%;
  z-index:11;
}
.page-content {
  background-color:#FFFFFF;
}
.section {
  height:1000px;
}
.text-30 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:33px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:257px;
  width:410px;
}
.text-24 {
  font-family:'Hanna', serif;
  font-size:36px;
  font-weight:400;
  height:56px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:191px;
  width:412px;
}
.pg-form {
  height:695px;
  left:116px;
  top:193px;
  width:770px;
}
.pg-text-field {
  background-color:#FFFFFF;
  border-bottom-color:#FF6D00;
  border-bottom-width:3px;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:42px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  right:0px;
  top:96px;
  width:378px;
}
.pg-text-field-25 {
  background-color:#FFFFFF;
  border-bottom-color:#FF6D00;
  border-bottom-width:3px;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:42px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  right:0px;
  top:156px;
  width:378px;
}
.pg-button {
  background-color:#FFFFFF;
  border-radius:50px;
  color:#FF6D00;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:46px;
  left:342px;
  top:444px;
  width:111px;
}
.cell-29 {
  color:#494949;
  font-family:'Jeju Gothic', serif;
  font-size:12px;
  height:40px;
  left:186px;
  text-align:center;
  top:439px;
  width:147px;
}
.cell-29 > a {
  line-height:40px;
}
.pg-text-field-29 {
  background-color:#FFFFFF;
  border-bottom-color:#FF6D00;
  border-bottom-width:3px;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:42px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  right:0px;
  top:216px;
  width:378px;
}
.pg-text-field-30 {
  background-color:#FFFFFF;
  border-bottom-color:#FF6D00;
  border-bottom-width:3px;
  color:#000000;
  font-size:14px;
  font-weight:700;
  height:42px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  right:0px;
  top:276px;
  width:378px;
}
.pg-text-field-31 {
  background-color:#FFFFFF;
  border-bottom-color:#FF6D00;
  border-bottom-width:3px;
  color:#000000;
  font-size:14px;
  font-weight:700;
  height:42px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  right:0px;
  top:336px;
  width:378px;
}
.pg-button-32 {
  background-color:#FFFFFF;
  border-radius:50px;
  color:#242424;
  font-family:'Jeju Gothic', serif;
  font-size:10px;
  font-weight:400;
  height:28px;
  left:592px;
  top:104px;
  width:59px;
}
.text-33 {
  font-family:'Jeju Gothic', serif;
  font-size:12px;
  height:33px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:407px;
  width:410px;
}
.footer {
  height:120px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}