.iu-center-box {
  width:1024px;
}
.iu-page {
  min-width:1024px;
}
.header {
  -webkit-box-shadow:0px 2px 10px 0px #DBDBDB;
  background-color:#FFFFFF;
  background-position:center;
  border-bottom-width:0px;
  border-color:#000000;
  box-shadow:0px 2px 10px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:70px;
  left:0px;
  opacity:100;
  position:fixed;
  top:0px;
  width:100%;
  z-index:11;
}
.page-content {
  background-color:#FFFFFF;
}
.section {
  height:850px;
}
.text-23 {
  bottom:0px;
  color:#B4B4B4;
  font-family:'Helvetica', sans-serif;
  font-size:36px;
  height:50px;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:100%;
}
.box-31 {
  background-color:#FFFFFF;
  height:400px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:450px;
  width:1024px;
}
.image {
  height:271px;
  left:85px;
  top:135px;
  width:845px;
}
.text-30 {
  font-family:'Hanna', serif;
  font-size:36px;
  font-weight:400;
  height:60px;
  left:169px;
  top:80px;
  width:89px;
}
.text-31 {
  font-family:'Jeju Gothic', serif;
  font-size:18px;
  height:81px;
  left:320px;
  top:77px;
  width:449px;
}
.cell-48 > a {
  line-height:100px;
}
.cell-48 {
  background-color:#FFFFFF;
  border-color:#DBDBDB;
  border-radius:100px;
  border-width:1px;
  color:#0075CC;
  font-family:'Roboto', sans-serif;
  font-size:24px;
  font-weight:700;
  height:100px;
  left:836px;
  text-align:center;
  top:52px;
  width:100px;
}
.box {
  background-color:#FFFFFF;
  border-color:#B6B6B6;
  border-radius:0px;
  border-style:dashed;
  border-width:0px;
  height:400px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:71px;
  width:1024px;
}
.image-48 {
  height:396px;
  left:-5px;
  top:0px;
  width:1012px;
}
.text-28 {
  color:#FFFFFF;
  font-family:'Hanna', serif;
  font-size:36px;
  font-weight:400;
  height:60px;
  left:174px;
  top:170px;
  width:70px;
}
.text-29 {
  color:#FFFFFF;
  font-family:'Jeju Gothic', serif;
  font-size:18px;
  height:28px;
  left:330px;
  top:182px;
  width:467px;
}
.cell-49 {
  background-color:#FFFFFF;
  border-color:#DBDBDB;
  border-radius:100px;
  border-width:1px;
  color:#FF6D00;
  font-family:'Roboto', sans-serif;
  font-size:24px;
  font-weight:700;
  height:100px;
  left:836px;
  text-align:center;
  top:148px;
  width:100px;
}
.cell-49 > a {
  line-height:100px;
}
.footer {
  height:120px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}