.iu-center-box {
  width:1024px;
}
.iu-page {
  min-width:1024px;
}
.header {
  -webkit-box-shadow:0px 2px 10px 0px #DBDBDB;
  background-color:#FFFFFF;
  background-position:center;
  border-bottom-width:0px;
  border-color:#000000;
  box-shadow:0px 2px 10px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:70px;
  left:0px;
  opacity:100;
  position:fixed;
  top:0px;
  width:100%;
  z-index:11;
}
.page-content {
  background-color:#FFFFFF;
}
.box {
  border-color:#B6B6B6;
  border-width:1px;
  float:none;
  height:197px;
  margin-left:auto;
  margin-right:auto;
  margin-top:94px;
  position:relative;
  width:1000px;
}
.text-39 {
  font-family:'Hanna', serif;
  font-size:24px;
  font-weight:400;
  height:36px;
  left:232px;
  top:38px;
  width:94px;
}
.image {
  height:124px;
  left:61px;
  top:34px;
  width:124px;
}
.text-40 {
  font-family:'Jeju Gothic', serif;
  font-size:18px;
  font-weight:400;
  height:62px;
  left:231px;
  top:83px;
  width:563px;
}
.cell-48 {
  border-color:#DBDBDB;
  border-radius:50px;
  border-width:1px;
  color:#FF6D00;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:45px;
  left:803px;
  text-align:center;
  top:73px;
  width:126px;
}
.cell-48 > a {
  line-height:45px;
}
.collection {
  float:none;
  height:100%;
  margin-left:auto;
  margin-right:auto;
  margin-top:7px;
  position:relative;
  width:1024px;
}
.import {
  height:100px;
  width:1024px;
}
.import-59 {
  height:100px;
  width:1024px;
}
.footer {
  height:120px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}