.iu-center-box {
  width:1024px;
}
.iu-page {
  min-width:1024px;
}
.header {
  -webkit-box-shadow:0px 2px 10px 0px #DBDBDB;
  background-color:#FFFFFF;
  background-position:center;
  border-bottom-width:0px;
  border-color:#000000;
  box-shadow:0px 2px 10px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:70px;
  left:0px;
  opacity:100;
  position:fixed;
  top:0px;
  width:100%;
  z-index:11;
}
.page-content {
  background-color:#FFFFFF;
}
.section {
  height:800px;
}
.text-23 {
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:33px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:246px;
  width:458px;
}
.text-24 {
  font-family:'Hanna', serif;
  font-size:36px;
  font-weight:400;
  height:56px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:180px;
  width:448px;
}
.pg-form {
  height:201px;
  left:280px;
  top:280px;
  width:464px;
}
.pg-text-field {
  background-color:#FFFFFF;
  border-bottom-color:#FF6D00;
  border-bottom-width:3px;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:42px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  right:0px;
  top:16px;
  width:426px;
}
.pg-button {
  background-color:#FFFFFF;
  border-radius:50px;
  color:#FF6D00;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  font-weight:400;
  height:46px;
  left:10px;
  top:136px;
  width:111px;
}
.cell-28 {
  color:#494949;
  font-family:'Jeju Gothic', serif;
  font-size:12px;
  height:20px;
  left:131px;
  line-height:20px;
  text-align:center;
  top:138px;
  width:100px;
}
.cell-29 > a {
  line-height:20px;
}
.cell-29 {
  color:#494949;
  font-family:'Jeju Gothic', serif;
  font-size:12px;
  height:20px;
  left:129px;
  text-align:center;
  top:160px;
  width:133px;
}
.pg-text-field-46 {
  border-bottom-color:#FF6D00;
  border-bottom-width:3px;
  font-size:14px;
  font-weight:700;
  height:42px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  right:0px;
  top:76px;
  width:425px;
}
.footer {
  height:120px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}