.iu-center-box {
  width:1024px;
}
.iu-page {
  min-width:1024px;
}
.header {
  -webkit-box-shadow:0px 2px 10px 0px #DBDBDB;
  background-color:#FFFFFF;
  background-position:center;
  border-bottom-width:0px;
  border-color:#000000;
  box-shadow:0px 2px 10px 0px #DBDBDB;
  color:#333333;
  height:70px;
  left:0px;
  opacity:100;
  position:relative;
  top:0px;
  width:100%;
}
.page-content {
  background-color:#FFFFFF;
}
.section {
  height:720px;
}
.text-38 {
  font-family:'Hanna', serif;
  font-size:30px;
  font-weight:400;
  height:45px;
  left:79px;
  top:65px;
  width:197px;
}
.image {
  height:122px;
  left:80px;
  top:183px;
  width:161px;
}
.text-41 {
  font-family:'Jeju Gothic', serif;
  font-size:26px;
  font-weight:400;
  height:35px;
  left:279px;
  top:184px;
  width:122px;
}
.text-42 {
  font-family:'Jeju Gothic', serif;
  font-size:18px;
  font-weight:400;
  height:63px;
  left:279px;
  top:242px;
  width:443px;
}
.text-44 {
  font-family:'Jeju Gothic', serif;
  font-size:26px;
  font-weight:400;
  height:35px;
  left:279px;
  top:394px;
  width:208px;
}
.text-45 {
  font-family:'Jeju Gothic', serif;
  font-size:18px;
  font-weight:400;
  height:63px;
  left:279px;
  top:452px;
  width:443px;
}
.image-46 {
  height:114px;
  left:104px;
  top:398px;
  width:112px;
}
.cell-47 > a {
  line-height:46px;
}
.cell-47 {
  border-color:#DBDBDB;
  border-radius:50px;
  border-width:2px;
  color:#FF6D00;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:46px;
  left:823px;
  text-align:center;
  top:80px;
  width:157px;
}
.cell-48 > a {
  line-height:46px;
}
.cell-48 {
  border-color:#DBDBDB;
  border-radius:50px;
  border-width:2px;
  color:#FF6D00;
  font-family:'Jeju Gothic', serif;
  font-size:14px;
  height:46px;
  left:823px;
  text-align:center;
  top:139px;
  width:157px;
}
.footer {
  height:120px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}