<img class="iu-image image-153" src="/static/project/copy_13.png">
<div class="iu-text text-154">
  <p>수업에 추가할 학생의 이름과 부모님의 이메일 정보를 입력합니다.</p>
  <p>등록한 이메일로 인증/ 개인정보 이용동의 메일 및 공지사항이 발송됩니다.</p>
  <p>&nbsp;</p>
</div>
<input class="iu-pg-button pg-button-159" type="button" value="등록">
<input class="iu-pg-text-field pg-text-field-158" type="text" placeholder="학생 이름">
<input class="iu-pg-text-field pg-text-field-157" type="text" placeholder="부모님의 이메일 주소">
<input class="iu-pg-text-field pg-text-field-159" type="text" placeholder="기타 학생 정보">