<div class="iu-box box-106">
  <div class="iu-text text-107">
    <p>{{classRoom.className}}</p>
  </div>
  <div class="iu-text text-108">
    <p>{{classRoom.classInfo}}</p>
  </div>
  <div class="iu-text text-109">
    <p>{{classRoom.created}}</p>
  </div>
  <div class="iu-text text-111">
    {{ classRoom.studentCount }} 명
  </div>
  <div class="iu-text text-112"></div>
  <div class="iu-text text-113">
    <p>개설일</p>
  </div>
  <div class="iu-text text-114">
    <p>학생수</p>
  </div>
  <div class="iu-cell btn_detailClassRoom btn cell-113" id={{ classRoom.id }}>
    <p>들어가기</p>
  </div>
</div>