<div class="iu-center-box center-box">
  <a class="iux-outer-link" href="/">
    <img class="iu-image image-27" src="/static/project/copy_1.png">
  </a>
  <div class="iux-has-hover iu-cell cell-18">
    <a class="iux-inner-link" href="/class">
      <p>수업</p>
    </a>
  </div>
  <div class="iux-has-hover iu-cell cell">
    <a class="iux-inner-link" href="/">
      <p>소개</p>
    </a>
  </div>
  <div class="iu-cell cell-21">
    <p>한국어</p>
  </div>
  <div class="iu-cell cell-24">
    <p>English</p>
  </div>
  <div class="iux-has-hover iu-cell cell-19">
    <a class="iux-inner-link" href="/content">
      <p>자료</p>
    </a>
  </div>
  <div class="iu-cell cell-25">
    <p>|</p>
  </div>
  <div class="iux-has-hover iu-cell cell-20">
    <a class="iux-inner-link" href="/FAQ">
      <p>FAQ</p>
    </a>
  </div>
</div>