<div class="iu-center-box center-box-55">
  <a class="iux-outer-link" href="/main">
    <img class="iu-image image-56" src="/static/project/copy_1.png">
  </a>
  <div class="iu-cell cell-61">
    <a class="iux-inner-link" href="/class">
      <p>교실</p>
    </a>
  </div>
  <div class="iu-cell cell-57">
    <p>한국어</p>
  </div>
  <div class="iu-cell cell-62">
    <p>English</p>
  </div>
  <div class="iu-cell cell-63">
    <p>학생</p>
  </div>
  <div class="iu-cell cell-64">
    <p>|</p>
  </div>
  <div class="iu-cell cell-60">
    <p>로그아웃</p>
  </div>
  <div class="iu-cell cell-65">
    <p>교사모드</p>
  </div>
</div>