<div class="iu-box box-185">
  <input class="iu-pg-radio-button pg-radio-button-186" type="radio">
  <input class="iu-pg-check-box pg-check-box-189" value={{ student.clid }} type="checkbox" name="studentCheck">
  <div class="iu-text text-188">
    <p>1</p>
  </div>
  <div class="iu-text text-187">
    <p>{{student.clname}}</p>
  </div>
  <div class="iu-text text-190">
    <p>상세보기</p>
  </div>
  <div class="iu-text text-191">
    <p>Ch.1</p>
  </div>
  <div class="iu-box box-182"></div>
  <div class="iu-box box-181"></div>
  <div class="iu-box box-183"></div>
  <div class="iu-box box-184"></div>
  <div class="iu-box box-186"></div>
  <div class="iu-box box-187"></div>
  <div class="iu-box box-188"></div>
  <div class="iu-box box-189"></div>
  <div class="iu-box box-190"></div>
  <div class="iu-box box-191"></div>
</div>